<ul id="left" class="thumbnails">
  <li class="span5">
  <div class="thumbnail">
  <h4>最新教员</h4>
  <ul>
    <% @tutor_infos.each do |t| %>
      <li>
        <a href="<%= tutor_info_path(t) %>">
        <div class="c_a"><%= t.username %></div>
        <div class="c_c"><%= t.school%></div>
        <div class="c_c"><%= t.major%></div>
        <div class="c_a"><%= t.created_at.strftime("%m-%d")%></div>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="text-right"><%= link_to "更多", tutor_infos_path %></div>
  </div>
  </li>
</ul>
<ul id="right" class="thumbnails">
  <li class="span5">
  <div class="thumbnail">
  <h4>最新学员</h4>
  <ul>
    <% @student_infos.each do |s| %>
      <li>
        <a href="<%= student_info_path(s) %>">
          <div class="c_a"><%= s.grade%></div>
          <div class="c_a"><%= s.area %></div>
          <div class="c_a"><%= s.subject_list%></div>
          <div class="c_b"><%= truncate(strip_tags(s.demand), length:15) %></div>
          <div class="c_a"><%= s.created_at.strftime("%m-%d")%></div>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="text-right"><%= link_to "更多", student_infos_path %></div>
  </div>
  </li>
</ul>
<hr />
