<%= image_tag 'title.jpg', class: "img-rounded", id: "title_img" %>
<div id="title">
<p class="text-left">Sunny</p> 
<p class="text-center">家教网</p>
</div>
<div class="navbar">
   <div class="navbar-inner">
     <ul class="nav">
        <li class="divider-vertical"><%= link_to "教员库", "#" %></li>
        <li class="divider-vertical"><%= link_to "学院库", "#" %></li>
        <li class="divider-vertical"><%= link_to "请家教", "#" %></li>
        <li class="divider-vertical"><%= link_to "做家教", "#" %></li>
     </ul>
     <ul class="nav pull-right">
        <li><a href="javascript:void(0)" onClick="addCookie()" >收藏本站</a></li>
     </ul>
   </div>
</div>
