<%= simple_form_for @tutor_info, html: {class: 'form-horizontal'} do |f| %>
  <% if @tutor_info.errors.any? %>
    <ul>
      <% @tutor_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <h1>基本信息</h1>
    <%= f.input :username %>
    <%= f.input :gender, collection: ["男","女"] , as: :radio_buttons %>
    <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 60,
                      end_year: Date.today.year - 12, discard_day: true, order: [:year, :month] %>
  <h1>联系方式</h1>
    <%= f.input :area, collection: ["荔湾", "越秀", "天河","海珠","白云" "黄埔", "番禺", "花都", "增城", "从化", "其它"] %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <%= f.input :qq %>
 <h1>详细资料</h1>
    <%= f.input :school %>
    <%= f.input :major %>
    <%= f.input :identity, collection: ["在校学生", "教师"], as: :radio_buttons, multiple: true %>
    <%= f.input :fee, collection: ["面议","10元/小时", "20元/小时","30-50元/小时","50-100元/小时","100-200元/小时","200-300元/小时"] %>
    <%= f.input :time %>
    <%= f.input :experience, input_html: {rows: 6, class: "span5"} %>
    <%= f.input :period %>
    <%= f.submit %>
<% end %>
