<%= link_to "修改", edit_tutor_info_path(@tutor_info), class: "pull-right" if can? :update, @tutor_info %>
<table class="table table-bordered">
  <tr>
    <th>########</th>
  </tr>
  <tr>
    <td>教员编号</td>
    <td><%= @tutor_info.id %></td>
  </tr>
  <tr>
    <td>真实姓名:</td>
    <td> <%= @tutor_info.username %> </td>
  </tr>
  <tr>
    <td>性别</td>
    <td><%= @tutor_info.gender %></td>
  </tr>
  <tr>
    <td>出生日期</td>
    <td><%= @tutor_info.date_of_birth %></td>
  </tr>
  <tr>
    <td>所在地区</td>
    <td><%= @tutor_info.area %></td>    
  </tr>
  <tr>
    <td>详细地址</td>
    <td><%= @tutor_info.address %></td>
  </tr>
  <tr>
    <td>联系电话</td>
    <td><%= @tutor_info.phone %></td>
  </tr>
  <tr>
    <td>qq号码</td>
    <td><%= @tutor_info.qq %></td>
  </tr>
  <tr>
    <td>毕业高校</td>
    <td><%= @tutor_info.school %></td>    
  </tr>
  <tr>
    <td>专业</td>
    <td><%= @tutor_info.major %></td>
  </tr>
  <tr>
    <td>授教学科</td>
    <td><%= @tutor_info.subject_list %></td>
  </tr>
  <tr>
    <td>现在身份</td>
    <td><%= @tutor_info.identity %></td>
  </tr>
  <tr>
    <td>上课时间</td>
    <td><%= @tutor_info.time %></td>
  </tr>
  <tr>
    <td>经验</td>
    <td><%= simple_format @tutor_info.experience %></td>
  </tr>
</table>

