<div class="navbar navbar-fixeed-top">
<div class="navbar-inner">
  <div class="container">
    <ul class="nav">
       <li><%= link_to "首页", home_path%></li>
       <li><%= link_to "广州站", guangzhou_path%></li>
       <li><%= link_to "教员库", tutor_infos_path %></li>
       <li><%= link_to "学员库", student_infos_path %></li>
       <li><%= link_to "做家教",  new_tutor_info_path%></li>
       <li><%= link_to "请家教", new_student_info_path%></li>
       <li><a href="javascript:void(0)" onClick="addCookie()" >收藏本站</a></li>
    </ul>
    <ul class="nav pull-right">
    <% if current_user.nil? %>
      <li><%= link_to "登录", log_in_path %></li>
    <% else %>
      <div class="btn-group pull-right">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <%= current_user.name %>
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "我的资料", current_user %></li>
          <li class="divider"></li>
          <li><%= link_to '退出', log_out_path, method: :delete, confirm: "Are you sure" %></li>
        </ul>
        </div>
      </ul>
     <% end %>
  </div>  
</div>
</div>
